<div class="sidebar">
  <h1 class="text-lg">Admin Panel</h1>
  <ul>
    <!-- Sidebar content here -->
    <li class="p-2">
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-blue-500 text-white font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="material-icons-outlined"> dashboard </span>
        Dashboard</a
      >
    </li>
    <li class="p-2">
      <a
        routerLink="/products"
        routerLinkActive="bg-blue-500 text-white font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="material-icons-outlined"> vaccines </span>
        Products</a
      >
    </li>
    <li class="p-2">
      <a
        routerLink="/categories"
        routerLinkActive="bg-blue-500 text-white font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="material-icons-outlined"> category </span>
        Categories</a
      >
    </li>
  </ul>
</div>
