<div class="overflow-x-auto bg-blue-100 rounded min-h-screen">
  <div class="p-4">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="border border-gray-300 p-2 text-left">
            <div class="skeleton h-4 w-20"></div>
          </th>
          <th class="border border-gray-300 p-2 text-left">
            <div class="skeleton h-4 w-20"></div>
          </th>
          <th class="border border-gray-300 p-2 text-left">
            <div class="skeleton h-4 w-20"></div>
          </th>
          <th class="border border-gray-300 p-2 text-left">
            <div class="skeleton h-4 w-20"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300">
            <div class="skeleton h-20 w-20"></div>
          </td>
          <td class="border border-gray-300 flex flex-col gap-3">
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-28"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-20"></div>
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300">
            <div class="skeleton h-20 w-20"></div>
          </td>
          <td class="border border-gray-300 flex flex-col gap-3">
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-28"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-20"></div>
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300">
            <div class="skeleton h-20 w-20"></div>
          </td>
          <td class="border border-gray-300 flex flex-col gap-3">
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-28"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-20"></div>
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300">
            <div class="skeleton h-20 w-20"></div>
          </td>
          <td class="border border-gray-300 flex flex-col gap-3">
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-28"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-20"></div>
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300">
            <div class="skeleton h-20 w-20"></div>
          </td>
          <td class="border border-gray-300 flex flex-col gap-3">
            <div class="skeleton h-4 w-full"></div>
            <div class="skeleton h-4 w-full"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-28"></div>
          </td>
          <td class="border border-gray-300">
            <div class="skeleton h-4 w-20"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
